<style>
  .image-gallery {
    margin: 0 auto !important;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    /* width: 820px; */   
    max-width: 1200px;
    padding-top: 50px; padding-bottom: 50px;
    padding-left: 8%; padding-right: 8%;
  }

  .image-gallery li {
    flex: 0 0 14%;
    margin-bottom: 16px;
  }

  .image-gallery li a {
    text-align: center;
    text-decoration: none!important;
    color: #777;
    display: block;
    width: 100%;
  }

  .image-gallery li a span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 3px 0;
  }

  .image-gallery li a img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    object-fit: cover;
    aspect-ratio: 1;
  }

  .image-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .image-overlay img {
    min-width: 25%;
    min-height: 25%;
    max-width: 75%;
    max-height: 75%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }

  /* Media Queries for Responsive Design */
  @media screen and (max-width: 1024px) {
    .image-gallery {
      gap: 2%;
      padding-left: 4%;
      padding-right: 4%;
    }

    .image-gallery li {
      flex: 0 0 14%;
    }
  }

  @media screen and (max-width: 768px) {
    .image-gallery {
      gap: 2%;
      padding-left: 4%;
      padding-right: 4%;
    }

    .image-gallery li {
      flex: 0 0 24%;
    }
  }

  @media screen and (max-width: 480px) {
    .image-gallery {
      gap: 3%;
      padding-left: 12%;
      padding-right: 12%;
    }


    .image-gallery li {
      flex: 0 0 48%;
    }

    .image-overlay img {
      max-width: 90%;
      max-height: 90%;
    }
  }
</style>

<div class="image-overlay noselect" id="imageOverlay">
  <img id="overlayImage" src="" alt="Full Size Image Preview">
</div>

{{ $dir := string (.Get "gallery_dir") }}
<ul class="image-gallery noselect">
  {{ range (readDir (print "/assets" $dir)) }}
    {{- $image := resources.Get (printf "%s/%s" $dir .Name) -}}
    {{- $imageurl := printf "%s/%s" $dir .Name -}}
    {{- $imagetitle := index (split .Name ".") 0 -}}
    <li>
      <a href="javascript:void(0)" onclick="showImageOverlay('{{ $image.RelPermalink }}')">
        <img src="{{ ($image.Fill "300x300 q50").Permalink }}">
      </a>
    </li>
  {{ end }}
</ul>

<script>
  function showImageOverlay(imageUrl) {
    const overlay = document.getElementById("imageOverlay");
    const overlayImage = document.getElementById("overlayImage");
    overlayImage.src = imageUrl;
    overlay.style.display = "flex";
  }

  // Hide overlay when clicking outside the image
  document.getElementById("imageOverlay").addEventListener("click", function(event) {
    if (event.target === this) {
      this.style.display = "none";
    }
  });
</script>

<script src="{{ "js/secret.js" | relURL }}"></script>