{{ define "main" }}
<style>
  @media (max-width: 768px) {
    .content-container {
      flex-direction: column !important;
    }
    
    .gif-wrapper {
      margin-left: 0 !important;
      margin-top: 2rem;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .gif-wrapper img {
      width: 100%;
      max-width: 350px;
      height: auto;
    }
  }
</style>

<div class="text-center content-container flex flex-row justify-center items-start max-w-screen-lg mx-auto mt-8" style="padding-left: 60px; padding-right: 60px;">
  <h1 class="mb-4 text-4xl font-extrabold text-slate-700 dark:text-slate-200">About me</h1>
</div>

<div class="content-container flex flex-row justify-between items-start max-w-screen-lg mx-auto mt-8" style="padding-left: 60px; padding-right: 60px;">  
  <!-- Left content section -->
  <div style="max-width: 500px;" class="flex flex-col items-start">
    {{ with .Params.jobTitle }}
      <h2 class="mt-2 text-center text-2xl text-slate-500 dark:text-slate-400">
        {{ . | markdownify | emojify }}
      </h2>
    {{ end }}
    
    <div class="justify-left mx-auto mt-8 flex max-w-screen-lg">
      <article>
        {{ if .Params.bio }}
          <span class="prose prose-slate break-words text-lg text-slate-700 dark:prose-invert prose-pre:max-w-[90vw] md:prose-pre:max-w-screen-md dark:text-slate-200">
            {{ .Content }}
          </span>
        {{ end }}
      </article>
    </div>
  </div>

  {{ $gif := .Params.gif }}
  <div class="gif-wrapper flex items-center justify-center ml-4">
    <img src="{{ $gif | relURL }}" alt="Moving GIF" style="border-radius: 8px; width: 300px; height: 400px;"/>
  </div>
</div>

<script>
  function handleResize() {
    const container = document.querySelector('.content-container');
    const gifWrapper = document.querySelector('.gif-wrapper');
    
    if (window.innerWidth <= 768) {
      container.appendChild(gifWrapper);
    }
  }

  // Initial check
  handleResize();

  // Listen for window resize
  window.addEventListener('resize', handleResize);
</script>
{{ end }}